<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header>
      <h1>Gym</h1>
    </header>
    <main>
      <section>
        <h1>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate
          culpa rem alias dolore nesciunt laborum. Consectetur, sit inventore?
          Laborum a deserunt at voluptatibus necessitatibus fugit possimus,
          minus nam porro nisi.
        </h1>
      </section>
    </main>
  </body>
</html>
