<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="bg-gray-900 flex items-center justify-center min-h-screen text-white"
  >
    <main
      class="w-full max-w-sm p-8 space-y-6 bg-gray-800 rounded-lg shadow-lg"
    >
      <h1 class="text-3xl font-bold text-center text-white">Seja bem-vindo!</h1>
      <form action="/login" method="POST" class="space-y-4">
        <div>
          <label
            for="usuario"
            class="block mb-1 text-sm font-medium text-gray-300"
            >Usuário:</label
          >
          <input
            type="text"
            id="usuario"
            name="usuario"
            placeholder="Digite seu usuário"
            class="w-full px-4 py-2 text-gray-900 rounded bg-gray-100 focus:outline-none focus:ring-2 focus:ring-red-500"
          />
        </div>
        <div>
          <label
            for="senha"
            class="block mb-1 text-sm font-medium text-gray-300"
            >Senha:</label
          >
          <input
            type="password"
            id="senha"
            name="senha"
            placeholder="Digite sua senha"
            class="w-full px-4 py-2 text-gray-900 rounded bg-gray-100 focus:outline-none focus:ring-2 focus:ring-red-500"
          />
        </div>
        <button
          type="submit"
          class="w-full py-2 font-semibold text-white bg-red-600 rounded hover:bg-red-700 transition-colors duration-300"
        >
          Entrar
        </button>
        <span
          id="message"
          class="text-white text-center font-bold text-2xl block"
        ></span>
      </form>
    </main>
    <script>
      const form = document.querySelector("form");
      form.addEventListener("submit", async (e) => {
        e.preventDefault(); // Impede o reload da página

        const usuario = form.usuario.value;
        const senha = form.senha.value;
        const spanMessage = form.querySelector("#message");
        try {
          const response = await fetch("/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json", // Envia como JSON
            },
            body: JSON.stringify({ usuario, senha: senha }), // Atenção: o nome do campo aqui precisa bater com o backend
          });

          const data = await response.json();
          if (response.ok) {
            // Login bem-sucedido
            spanMessage.textContent = data.message;

            // Redirecionar ou fazer outra ação:
            window.location.href = "/painel";
          } else {
            // Erro no login
            spanMessage.textContent = data.message;
          }
        } catch (error) {
          console.error("Erro:", error);
        }
      });
    </script>
  </body>
</html>
